

<ion-content>
  <ion-header style="height: 50px; text-align: center;">
    <ion-buttons slot="start" style="position: fixed; display: flex !important;">
      <ion-back-button defaultHref="mainpage"></ion-back-button>
    </ion-buttons>
  
    <ion-menu-button style="width: 50px; position: fixed; right: 0;">
      <ion-icon name="menu-outline" style="position: relative;"></ion-icon>
    </ion-menu-button>
    <ion-label style="position: relative;  top: 30%; font-size: 20px;">İstatistikler</ion-label>
  </ion-header>
</ion-content>
