<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
  <ion-grid >
    <ion-row>
      <ion-col size="6">
        <ion-button>
          <i class="fas fa-users" style="color: #228312;"></i>
          <p>Gruplar</p>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button>
          <i class="fas fa-book" style="color: #EE743F;"></i>
          <p>Dersler</p>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button>
          <i class="fas fa-calendar-alt" style="color: #0F79BE;"></i>
          <p>Ajandam</p>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button>
          <i class="fas fa-chart-line" style="color: #D4220F;"></i>
          <p>İstatistikler</p>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button [routerLink]="['/profilepage']"  >
          <i class="fas fa-address-book" style="color: #CF6503;" ></i>
          <p>Profil</p>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button>
          <i class="fas fa-cog" style="color: #AB1AA5;"></i>
          <p>Ayarlar</p>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
