<ion-content>
  <ion-header >
    <ion-menu-button style="width: 50px; position: fixed;">
      <ion-icon name="menu-outline"  ></ion-icon>
    </ion-menu-button>
    <p style="height: auto; width: fit-content; position: relative; display: inline-block; left: calc(50% - 50px);">TestManager</p>
  </ion-header>
  <ion-slides pager="true" [options]="slideOpts" #slides (ionSlidesDidLoad)="sliderAuto(slides)">
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
  <ion-grid >
    <ion-row>
      <ion-col size="6">
        <ion-button [routerLink]="['/groups']">
          <ion-icon name="chatbox-ellipses" style="position: fixed; margin-top: -30px; font-size: 45px; width: 60px; height: 55px; color: #0F79BE;"></ion-icon>
          <p>Mesajlar</p>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button [routerLink]="['/lessons']">
          <i class="fas fa-book" style="color: #EE743F;"></i>
          <p>Dersler</p>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button>
          <i class="fas fa-calendar-alt" style="color: #228312;"></i>
          <p>Ajandam</p>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button [routerLink]="['/statspage']">
          <i class="fas fa-chart-line" style="color: #D4220F;"></i>
          <p>İstatistikler</p>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button [routerLink]="['/profilepage']"  >
          <i class="fas fa-address-book" style="color: #CF6503;" ></i>
          <p>Profil</p>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button [routerLink]="['/options']">
          <i class="fas fa-cog" style="color: #AB1AA5;"></i>
          <p>Ayarlar</p>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
