<ion-content>  
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
  <ion-grid >
    <ion-row>
      <ion-col size="6">
        <ion-button>
          <i class="fas fa-users"></i>
          <p>Gruplar</p>
        </ion-button>        
      </ion-col>
      <ion-col size="6">
        <ion-button>
          <i class="fas fa-book"></i>
          <p>Dersler</p>
        </ion-button>        
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
