<ion-header style="height: 50px; text-align: center;">
  <ion-buttons slot="start" style="position: fixed; display: flex !important;">
    <ion-back-button defaultHref=""></ion-back-button>
  </ion-buttons>

  <ion-menu-button style="width: 50px; position: fixed; right: 0; height: 50px;">
    <ion-icon name="menu-outline" style="position: relative;"></ion-icon>
  </ion-menu-button>
  <ion-label style="position: relative;  top: 30%; font-size: 20px;">Ayarlar</ion-label>
</ion-header>

<ion-content>
  

  <ion-item>
    <ion-chip>
      <ion-avatar>
        <ion-icon style="text-align: center;" name="key-sharp"></ion-icon>
      </ion-avatar>
      <ion-label>Şifre Değiştir</ion-label>
    </ion-chip>
  </ion-item>

  <ion-item>
    <ion-chip>
      <ion-avatar>
        <ion-icon name="diamond-sharp"></ion-icon>
      </ion-avatar>
      <ion-label>Premium Üyelik</ion-label>
    </ion-chip>
  </ion-item>

  <ion-item>
    <ion-chip>
      <ion-avatar>
        <ion-icon name="accessibility-sharp"></ion-icon>
      </ion-avatar>
      <ion-label>Arkadaşlarını Davet Et</ion-label>
    </ion-chip>
  </ion-item>

  <ion-item>
    <ion-chip>
      <ion-avatar>
        <ion-icon name="book-sharp"></ion-icon>
      </ion-avatar>
      <ion-label>Eğitim Düzeyi Seç</ion-label>

        <ion-select okText="Tamam" cancelText="İptal" style="text-align: right;">
          <ion-select-option >5.Sınıf</ion-select-option>
          <ion-select-option >6.Sınıf</ion-select-option>
          <ion-select-option >7.Sınıf</ion-select-option>
          <ion-select-option >8.Sınıf</ion-select-option>
          <ion-select-option >9.Sınıf</ion-select-option>
          <ion-select-option >10.Sınıf</ion-select-option>
          <ion-select-option >11.Sınıf</ion-select-option>
          <ion-select-option >12.Sınıf</ion-select-option>
        </ion-select>
      
    </ion-chip>
  </ion-item>


  <ion-item>
    <ion-chip>
      <ion-avatar>
        <ion-icon name="help-sharp"></ion-icon>
      </ion-avatar>
      <ion-label>Yardım </ion-label>
    </ion-chip>
  </ion-item>







</ion-content>