ion-chip{
    width: 100%;

}
ion-select{
    position: absolute;
    right: 0;
}

ion-item {
    --padding-start: 0;
    ion-icon{
        margin: 3;
    }
}
ion-header{
    background: rgb(152 186 225);
    color: white;
}