<ion-header>
</ion-header>

<ion-content>

  <ion-item>
    <ion-chip>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>Şifre Değiştir</ion-label>
    </ion-chip>
  </ion-item>

  <ion-item>
    <ion-chip>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>Premium Üyelik</ion-label>
    </ion-chip>
  </ion-item>

  <ion-item>
    <ion-chip>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>Arkadaşlarını Davet Et</ion-label>
    </ion-chip>
  </ion-item>

  <ion-item>
    <ion-chip>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>Eğitim Düzeyi Seç</ion-label>

        <ion-select okText="Tamam" cancelText="İptal" style="text-align: right;">
          <ion-select-option >5.Sınıf</ion-select-option>
          <ion-select-option >6.Sınıf</ion-select-option>
          <ion-select-option >7.Sınıf</ion-select-option>
          <ion-select-option >8.Sınıf</ion-select-option>
          <ion-select-option >9.Sınıf</ion-select-option>
          <ion-select-option >10.Sınıf</ion-select-option>
          <ion-select-option >11.Sınıf</ion-select-option>
          <ion-select-option >12.Sınıf</ion-select-option>
        </ion-select>
      
    </ion-chip>
  </ion-item>


  <ion-item>
    <ion-chip>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>Yardım</ion-label>
    </ion-chip>
  </ion-item>







</ion-content>