<ion-header style="height: 50px; text-align: center;">
  <ion-buttons slot="start" style="position: fixed; display: flex !important;">
    <ion-back-button defaultHref=""></ion-back-button>
  </ion-buttons>

  <ion-menu-button style="width: 50px; position: fixed; right: 0; height: 50px;">
    <ion-icon name="menu-outline" style="position: relative;"></ion-icon>
  </ion-menu-button>
  <ion-label style="position: relative;  top: 30%; font-size: 20px;">Ayarlar</ion-label>
</ion-header>

<ion-content>


  <ion-item>
      <ion-buttons slot="start" style="padding: 0; height: 40px; width: 100%; --background: dark">
        <ion-chip>
          <ion-avatar>
            <img
              src="https://us.123rf.com/450wm/djati11/djati112004/djati11200403229/144494895-key-logo-template-vector-icon-illustration-design.jpg?ver=6">
          </ion-avatar>
          <ion-label>Şifre Değiştir</ion-label>
        </ion-chip>
      </ion-buttons>
  </ion-item>

  <ion-item>
    <ion-buttons slot="start" style="padding: 0; height: 40px; width: 100%; --background: dark">
      <ion-chip>
        <ion-avatar>
          <img
            src="https://img.pixers.pics/pho_wat(s3:700/FO/79/69/22/98/700_FO79692298_30290f3708f68de4a7def87856d00ca9.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/cikartmalar-elmas-simgesi-jewel-sembolu-duz.jpg.jpg">
        </ion-avatar>
        <ion-label>Premium Üyelik</ion-label>
      </ion-chip>
    </ion-buttons>
  </ion-item>

  <ion-item>
    <ion-buttons slot="start" style="padding: 0; height: 40px; width: 100%; --background: dark">
      <ion-chip>
        <ion-avatar>
          <img
            src="https://st4.depositphotos.com/3538103/40645/v/450/depositphotos_406450680-stock-illustration-people-vector-icon-person-symbol.jpg">
        </ion-avatar>
        <ion-label>Arkadaşlarını Davet Et</ion-label>
      </ion-chip>
    </ion-buttons>
  </ion-item>

  <ion-item>
    <ion-buttons slot="start" style="padding: 0; height: 40px; width: 100%; --background: dark">
    <ion-chip>
      <ion-avatar>
        <img
          src="https://thumbs.dreamstime.com/b/open-book-vector-simple-icon-black-isolated-open-book-icon-open-book-vector-simple-icon-black-isolated-open-book-icon-open-book-126954564.jpg">
      </ion-avatar>
      <ion-label>Eğitim Düzeyi Seç</ion-label>

      <ion-select okText="Tamam" cancelText="İptal" style="text-align: right;">
        <ion-select-option>5.Sınıf</ion-select-option>
        <ion-select-option>6.Sınıf</ion-select-option>
        <ion-select-option>7.Sınıf</ion-select-option>
        <ion-select-option>8.Sınıf</ion-select-option>
        <ion-select-option>9.Sınıf</ion-select-option>
        <ion-select-option>10.Sınıf</ion-select-option>
        <ion-select-option>11.Sınıf</ion-select-option>
        <ion-select-option>12.Sınıf</ion-select-option>
      </ion-select>

    </ion-chip>
  </ion-buttons>
  </ion-item>


  <ion-item>
      <ion-buttons slot="start" style="padding: 0; height: 40px; width: 100%; --background: dark">
        <ion-chip>
          <ion-avatar>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWGEvu8rUxs_zgsVoyA2LmuKAS0x7AGf69qg&usqp=CAU">
          </ion-avatar>
          <ion-label>Yardım </ion-label>
        </ion-chip>
      </ion-buttons>
  </ion-item>
</ion-content>