<ion-content>


    <ion-item>
      <ion-label position="floating" color="fab-btn">E-mail</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="fab-btn">Şifre</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-button color="success" style="min-height: 5%; top: 26%; position: relative; left: 15%; min-width: 28%; width: calc(50% - 210px); max-width: 28%;" (click)="networkCheck()" >Giriş Yap</ion-button>

    <ion-button style="min-height: 5%; top: 26%; position: relative; left: 25%; min-width: 28%; width: calc(50% - 210px); max-width: 28%;">Kayıt Ol</ion-button>



</ion-content>
