<ion-content>

  <ion-slides pager="true" [options]="slideOpts" #slides>
    <ion-slide *ngFor="let item of array; index as i" >
      <ion-card *ngIf="side" [attr.id]="'slide'+i">
        <ion-card-content>
          <img src={{item}}>
        </ion-card-content>
        <ion-card-header>
          <ion-card-title>Soru {{i+1}}</ion-card-title>
        </ion-card-header>
        <hr>
        <ion-button (click)="next()">A</ion-button>
        <ion-button (click)="info(i)">B</ion-button>
        <ion-button>C</ion-button>
        <ion-button>D</ion-button>       
      </ion-card>

      <ion-card *ngIf="!side" [attr.id]="'slide'+i">     
        <ion-card-header>
          <ion-card-title>Soru {{i+1}} için İpuçları</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Bilgiler
        </ion-card-content>             
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>