ion-content {
    height: 100%;
    width: 100%;
}

ion-sliders {
    height: 100%;
}

ion-card, ion-slide {
    height: 80%;
    width: 100%;  
}

.anim {
    animation: myanim 1s linear;
}

@keyframes myanim {
    0% {        
        transform: rotateY(0deg);          
    }
    
    50% {
        transform: rotateY(90deg);      
    }
    
    100% {        
        transform: rotateY(180deg);       
    }
}

ion-button {
    width: 50px;
    height: 50px;
    --background: none;
    --border-width: 2px;
    --border-style: solid;
    --border-color: white;
    --border-radius:50%;
    --ripple-color: darkgrey;
    margin-bottom: 5%;
    margin-left: 3%;
}

ion-card-content, ion-card-header {
    padding: 0;
}

hr {
    background-color: aliceblue;
}

.buttons {
    display: block;
    align-items: center;
}