ion-header{
  background-color: rgb(39, 85, 236);
  text-align: center;
  z-index: 999;
}
.menuBar{
  --width: 80%;
  z-index: 99;
}
ion-button{
  margin-bottom: -15px;
  --background:rgb(36,36,36);
}
.menuBtn{
  --background:rgb(39, 85, 236);
}
ion-list{
  height: 100%;
  padding-top: 14vh;
  background-color:#454343;
}
i{
  left: 10px;
  position: fixed;
  font-size: 28px;
}
ion-toolbar{
  --background:none;
  --border-style: none;
}

ion-back-button{
  width: 50px;
  display: inline-block;
  position: fixed;
  left: 0;
  top: 4px;
}
ion-title{
  position: fixed;
  width: 150px;
  left: calc(50% - 65px);
  top: 26px;
}
ion-header::after{
  height: 0;
}
ion-avatar{
  position: fixed;
  z-index: 99;
  width: 60px; 
  height: 60px; 
  top: 7px;
  left: 7px;
}