ion-content {
    height: calc(100% - 50px);
    width: 100%;
    margin-top: 5%;
    padding-top: 5%;
}

ion-avatar {
    height: 188px;
    width: 188px;
    margin-left: calc(50% - 94px);
}

ion-label {
    display: block;
    text-align: center;
    margin-top: 3%;
}

ion-button {
    width: calc(100% - 25px);
    height: 54px;
    margin-top: 5%;
    margin-left: calc((100% - (100% - 25px)) / 2);
    --background: #2C3E50;
    --border-color: white;
    --border-radius: 15px;
    --border-style: solid;
    --border-width: 2px;
}

.editButtons {
    --background: none;
    border-bottom: 2px white solid;
    --border-width: 0px;
    margin-top: 1%;
    width: 20%;
    margin-left: calc(50% - (20% / 2));
}

.fa-chart-line, .fa-bookmark, .fa-sign-out-alt {
    margin-right: 5%;
}