ion-header{
  background: rgb(152 186 225);
  color: white;
}

ion-label{
  color:white;
}
i{
  position: fixed;
  left: 22%;
  color: white;
}
ion-item{
  background-color: whitesmoke;
}

ion-list{
  padding: 0;
}
ion-segment-button{
  --color-checked:white;
  
}