
<ion-header style="height: 50px; text-align: center;">
  <ion-buttons slot="start" style="position: fixed; display: flex !important;">
    <ion-back-button defaultHref="/.."></ion-back-button>
  </ion-buttons>


  <ion-menu-button style="width: 50px; position: fixed; right: 0; height: 50px;">
    <ion-icon name="menu-outline"></ion-icon>
  </ion-menu-button>
  <label style="position: relative;  top: 30%; font-size: 20px;">Mesajlar</label>
</ion-header>


<ion-content>
  


  <ion-segment value="paid" (ionChange)="groupsChange()">
    <ion-segment-button value="paid">
      <i class="fas fa-user"></i>
      <ion-label>Kisiler</ion-label>
    </ion-segment-button>

    <ion-segment-button value="free">
      <i class="fas fa-users"></i>
      <ion-label>Gruplar</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngFor='let a of kisi'>

    <ion-button expand="full" style="padding: 0; margin: 0; height: 60px;">
      <ion-avatar style="left: 0; position: absolute; width: 53px; height: 53px;">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/testmanager-fb88a.appspot.com/o/users%2FyFrzbhpgauch7ixXPvFucmrKCzQ2%2FprofilePicture%2FprofileImg?alt=media&token=65b7ca3b-5768-4748-ae23-18c48739cb33">
      </ion-avatar>
      <ion-label style="left: 79px; position: absolute; max-width: 58px; overflow: auto;">{{a}}</ion-label>
    </ion-button>

  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="secondary">
        <i class="fas fa-user-plus"></i>
      </ion-fab-button>
      <ion-fab-button color="danger">
        <i class="fas fa-user-minus"></i>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>