ion-header{
  background: rgb(152 186 225);
  color: white;
}

ion-label{
  color:white;
  font-family: none;

}
i{
  position: fixed;
  left: 22%;
  color: white;
}
ion-item{
  background-color: whitesmoke;
}

ion-list{
  padding: 0;
  background:none;
}
ion-segment-button{
  --color-checked: rgb(0 0 0 / 22%);
  --color: rgb(0 0 0 / 11%);

}
ion-button{
  padding: 0;
  margin: 0;
  height: 60px;
  border-bottom: 4px #ffffff solid;
  border-radius: 5px;
  --background: rgb(238,174,202);
  --background: linear-gradient(-30deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

ion-searchbar{
  --border-radius:20px;
}
