ion-header{
  background: rgb(152 186 225);
  color: white;
}
ion-segment-button{
  --background:rgb(235, 131, 131);
  --background-checked:rgb(59, 182, 182);
   max-width: 100%;
}
ion-label{
  color:white;
}
i{
  position: fixed;
  left: 22%;
  color: white;
}
ion-item{
  background-color: whitesmoke;
}

ion-list{
  padding: 0;
}