
<ion-header style="height: 50px; text-align: center;">
  <ion-buttons slot="start" style="position: fixed; display: flex !important;">
    <ion-back-button defaultHref=""></ion-back-button>
  </ion-buttons>


  <ion-menu-button style="width: 50px; position: fixed; right: 0; height: 50px;">
    <ion-icon name="menu-outline"></ion-icon>
  </ion-menu-button>
  <label style="position: relative;  top: 30%; font-size: 20px;">Mesajlar</label>
</ion-header>


<ion-content>

<ion-searchbar placeholder="Kullanıcı Ara" [(ngModel)]="searchTerm" showClearButton="focus" animated ></ion-searchbar>

  <ion-segment (ionChange)="groupsChange()" value="Kisiler" swipeGesture="true" >
    <ion-segment-button value="Kisiler">
      <ion-icon name="person-sharp"></ion-icon>
      <ion-label>Kisiler</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Gruplar">
      <ion-icon name="people-sharp"></ion-icon>
      <ion-label>Gruplar</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="controller">

    <ion-button *ngFor='let a of person | filter: searchTerm' expand="full" >
      <ion-avatar style="left: 0; position: absolute; width: 53px; height: 53px;">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/testmanager-fb88a.appspot.com/o/users%2FyFrzbhpgauch7ixXPvFucmrKCzQ2%2FprofilePicture%2FprofileImg?alt=media&token=65b7ca3b-5768-4748-ae23-18c48739cb33">
      </ion-avatar>
      <ion-label style="left: 79px; position: absolute; max-width: 200px; overflow: auto; color: white;">{{a}}</ion-label>
    </ion-button>

  </ion-list>

  <ion-list *ngIf="!controller">

    <ion-button *ngFor='let a of groups | filter: searchTerm' expand="full"  >
      <ion-avatar style="left: 0; position: absolute; width: 53px; height: 53px;">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/testmanager-fb88a.appspot.com/o/users%2FyFrzbhpgauch7ixXPvFucmrKCzQ2%2FprofilePicture%2FprofileImg?alt=media&token=65b7ca3b-5768-4748-ae23-18c48739cb33">
      </ion-avatar>
      <ion-label style="left: 79px; position: absolute; max-width: 200px; overflow: auto; color: white;">{{a}}</ion-label>
    </ion-button>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="fab-btn">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="secondary">
        <i class="fas fa-user-plus"></i>
      </ion-fab-button>
      <ion-fab-button color="danger">
        <i class="fas fa-user-minus"></i>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
